<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nti.module_returninbound">

    <application>
        <activity android:name=".activity.CustomCaptureActivity"></activity>
        <activity android:name=".activity.ReturnInboundDetailActivity"></activity>
        <activity
            android:name=".activity.ReturnInboundActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>