<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nti.module_produceinbound">

    <application>
        <activity android:name=".activity.ProduceInboundDetailActivity"></activity>
        <activity android:name=".activity.CustomCaptureActivity" />
        <activity
            android:name=".activity.ProduceInboundActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>